# Node modules
node_modules

# Environment variables
.env
**/.env

# Hardhat files
**/cache
**/artifacts

# DS STORE
.DS_Store
**/.DS_Store

# TypeChain files
**/typechain
**/typechain-types

# solidity-coverage files
**/coverage
**/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
